@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=PT+Mono&display=swap');

$font-primary: 'Aref Ruqaa', serif;
$font-secondary: 'PT Mono', monospace;

$color-bg: #EDECE4;
$color-sombras: #CBC6B9;
$color-base: #2A2426;
$color-primary: #1AB912;
$color-serif-text: #AC9E88;
$color-bordas: #9C917D;

